@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.contenedorBotones{
display: flex;
justify-content: center;	
}
.contenedorPost{
    background-color: rgba(63, 73, 87,0.9);
    width: 70%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    margin:10px auto;
    
   
   
   
}

.cajaCampo{
    display: inline-flex;
    width: 90%;
   
}

.cajaPost{
    display: inline-flex;
    width: 100%;
    margin:5px;
     
}

.cajaDatos{   
height:100%;

font-size:13px ;
margin-top:10px;
   
}

.post{
	  display: inline-bl;
    width: 95%;
    color:white;
    margin :auto;
   
}
.contenedor{
	border:double white 4px;
	border-radius: 5px;
	margin-bottom: 20px;
	height: 110px;
}
.nombreCampo{

    padding: 10px;
    color: white;
    width: 70%s;

}

.botonPost {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin:10px;
    margin-top: 20px;
    height: 40px;
    width: 130px;
    background: #4596D9;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    
}

.botonPost-largo {
    width: 120px;
}
 
  #boton2{
	margin-top: 15px;
	margin-bottom: 20px;
}
.fechaCampo{
    padding: 10px;
    color: white;
width: 20%;
}
.tituloCampo{
	height: 51px;
 word-wrap: break-word;
   overflow:hidden;
    padding: 10px;
    color: white;
    width: 80%;
}
.temaCampo{
    
    color: white;
width: 20%;
}
.usuarioCampo{
    color: white;
    width: 80%;
}
  
