@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}


.contenedorPost{
    background-color: rgba(63, 73, 87,0.9);
    width: 70%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    margin:10px auto;
    
   
   
   
}

.cajaCampo{
    display: inline-flex;
    width: 90%;
   
}

.cajaPost{
    display: inline-flex;
    width: 100%;
    margin:5px;
     
}

.cajaDatos{   
height:100%;

font-size:13px ;
margin-top:10px;
   
}

.post{
	  display: inline-flex;
    width: 95%;
    color:white;
    margin :auto;
   
}
.contenedor{
	border:double white 4px;
	border-radius: 5px;
	margin-bottom: 20px;
	height: 110px;
}
.nombreCampo{

    padding: 10px;
    color: white;
    width: 70%s;

}

.botonPost {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    background: #4596D9;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 46%;
}
.botonPost{
	 background: #69b7f6;
}
.botonPost-largo {
    width: 120px;
}
 
  #boton2{
	margin-top: 15px;
	margin-bottom: 20px;
}
.fechaCampo{
    padding: 10px;
    color: white;
width: 20%;
}
.tituloCampo{
	height: 51px;
 word-wrap: break-word;
   overflow:hidden;
    padding: 10px;
    color: white;
    width: 80%;
}
.temaCampo{
    
    color: white;
width: 20%;
}
.usuarioCampo{
    color: white;
    width: 80%;
}

.botonAbrir {
	cursor: pointer;
	display: inline-flex;
	margin:auto;
	width: 30px;
	height: 30px;
    background-color: rgb(128, 255, 128);
 	border-radius:  7px;
	display: flex;
	align-items: center;
	justify-content: center;
}
button{
border:none;
height: 0px;	

}
.botonCerrar {
	
	cursor: pointer;
	display: inline-flex;	
	width: 30px;
	height: 30px;
	background-color:#d24848;   
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	margin:auto;
	border-radius: 7px;;
}

.contenedorBotonAlta{
	display: inline-block;
	margin: auto;
}
   .explicaBotones{
   display:flex;
    text-align: center;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color:white;
    width:25%;
    margin:auto;
    
  
    
}
   .cajaExplicaBotones{
   display:flex;
    
    text-align: center;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: auto;
    color:white;
    width:60%;
   
    
}