
    
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.contenedorPost{
    background-color: rgba(63, 73, 87,0.9);
    width: 70%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    margin:10px auto;
   
}

.contenedorBotones{
display: flex;
justify-content: center;	
}

.cajaCampo{
    display: inline-flex;
    width: 90%;

}
.cajaCampoRespuesta{
	
    display: inline-flex;
    width: 90%;
    flex-wrap:wrap;
	
}
.cajaPost{
    display: inline-flex;
    width: 100%;
    margin:5px;
     
}
.bloqueCampos{
	width:100%;
	display: flex;
	justify-content:space-around ;
}

.cajaDatos{   
height:100%;

font-size:13px ;
margin-top:10px;
   
}

.post{
	display: inline-flex;
    width: 95%;
    text-align: justify;
    color:white;
    margin :auto;
    padding: 10px;
    word-break:break-all;
}
.textoRespuesta{
    color:white;
   
 

}
.tituloContenedorRespuesta{
	margin-bottom: 20px;
    width: 95%;
    color:white;
    text-align: center;
 
   
}
.contenedor{
	border:double white 4px;
	border-radius: 5px;
	margin-bottom: 20px;
	min-height:110px;
}

.contenedorRespuesta{
	padding-bottom: 10px;
	border:double white 4px;
	width: 85%;
	margin: auto;
	justify-content: center;
	display:flex;
	align-items:center;
	border-radius: 5px;
	margin-bottom: 20px;
	min-height: 110px;
}

.botonResponder {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    background: #4596D9;
    color: white;
    border-radius: 15px;
    text-decoration: none;
    
}

.fechaCampo{
    padding: 10px;
    color: white;
width: 20%;
}
.tituloCampo{
	height: 51px;
 word-wrap: break-word;
   overflow:hidden;
    padding: 10px;
    color: white;
    width: 80%;
}
.temaCampo{
    
    color: white;
width: 20%;
}
.usuarioCampo{
    color: white;
    width: 80%;
}
 textarea {
    resize: none;
    background-color: rgba(63, 73, 87,0.9);
    padding: 5px;
    color: #fff;
    border-radius: 10px;
    width: 90%;
    height: 15vh;
    margin-right: 3%;
    }
    
    
    
 .contenedorRespouesta{
	display: inline-flex;
	align-items: center;

	margin-bottom:20px;
}  
.botonAbrir {
	cursor: pointer;
	display: inline-flex;
	margin:auto;
	width: 30px;
	height: 30px;
    background-color: rgb(128, 255, 128);
 	border-radius:  7px;
	display: flex;
	align-items: center;
	justify-content: center;
}
button{
border:none;
height: 0px;	

}
.botonCerrar {
	cursor: pointer;
	display: inline-flex;
	margin:auto;
	width: 30px;
	height: 30px;
	background-color:#d24848;
	
   border-radius:  7px;
	display: flex;
	align-items: center;
	justify-content: center;
}
   .explicaBotones{
   display:flex;
    text-align: center;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color:white;
    width:25%;
    margin:auto;
    
  
    
}
   .cajaExplicaBotones{
   display:flex;
    
    text-align: center;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: auto;
    color:white;
    width:60%;
   
    
} 
    
    
    