<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:fragment="head">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin</title>
	<link th:replace="nav/nav.html :: link">
	<link rel="stylesheet" th:href="@{/admin.css}">


</head>

</head>
<header th:replace="nav/nav.html :: nav"> </header>

</body>
<p th:text="${error}"></p>
<div class="cajaExplicaBotones">
        <div class="explicaBotones">
            <b>Dar admin</b>
            <img class="botonAbrir" src="corona.png" alt="">
        </div>
     
        <div class="explicaBotones">
            <b>Sacar admin</b>
            <img class="botonCerrar" src="corona.png" alt="">
        </div>
      <div class="explicaBotones"> 
            <b>Borrar usuario</b>
            <img class="botonCerrar" src="papelera.png" alt="">
        </div>
     
   
        </div>

<div class="contenedorPost">


	<div class="contenedor" th:each="usuario : ${usuarios}" th:if="${usuario.nombreUsuario != 'dado de Baja'}">

		<div class="cajaCampo" >
			<b class="tituloCampo" th:text="${usuario.nombreUsuario}"></b>
			<b class="tituloCampo" th:text="${usuario.mail}"></b>
		</div>
		<div>

		<form class="contenedorBotonAlta" action="/darAdmin" method="POST">	
		<input class="campo" hidden th:value="${usuario.mail}" type="text" placeholder="Ingrese nombre " name="mail" />	
			
			<button><img th:if="${usuario.rolAdministrador}" class="botonCerrar" src="corona.png"
					alt="papelera"></button>
			<button ><img th:if="${!usuario.rolAdministrador}" class="botonAbrir" src="corona.png"
					alt="papelera"></button>
			
				
		</form>				
		<form class="contenedorBotonAlta" action="/borrarUsuarioAdmin" method="POST">
		<input class="campo" hidden th:value="${usuario.mail}" type="text" placeholder="Ingrese nombre " name="mail" />
				<button></button>
				<button><img class="botonCerrar" src="papelera.png" alt="papelera"></button>
		</form>
			</div>
			</div>
	</div>
</div>

</body>

</html>